*,
html {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Avenir Next';
  font-weight: 500;
}

button {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-UltLt.otf') format('opentype');
  font-weight: 100;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-Thin.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-Demi.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/fonts/Linotype - AvenirNextLTPro-Heavy.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
  unicode-range: U+000-5FF;
}
